/* ion-footer{
    background-color: white;
} */
ion-row{
    background-color: white;
}

.bold{
    font-weight: bold;
}

ion-card { 
    border-top: 3px solid var(--ion-color-primary); 
    font-size: large;
}