ion-content{
    --ion-background-color:var(--ion-color-light-shade);
}

ion-label{
    font-weight: bold;
}

ion-select{
    background-color: white;
}

ion-textarea{
    background-color: white;
}

ion-avatar,
ion-avatar > img{
    border-radius:0%;    
}

p{
    text-align: center;
}