.ion-label-color{
    font-weight: bold;
    color: var(--ion-color-secondary)!important;
    
}
.boldTitle{
    font-weight: bold;
}

.contador {
    counter-reset: elemento;
}

.elemento:before {
    counter-increment: elemento;
    content: "("counter(elemento)")";
}