<ion-card>
<!--<ion-card-header (click)="toggleAccordion('marine')">    -->
  <ion-card-header>    
    About Marine Mammals
    <button clear  (click)="toggleAccordion('marine')">
      <ion-icon name="remove" *ngIf="!visibleMarine"></ion-icon>
      <ion-icon name="add" *ngIf="visibleMarine"></ion-icon>
    </button>
  </ion-card-header>

  <ion-card-content #ccmm >
    <ion-item >
      <ion-avatar slot="start">
        <img src="assets/img/ageneraloverview.png">
      </ion-avatar>
      <ion-label>Marine Mammals: a general overview</ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/img/routes.png">
      </ion-avatar>
      <ion-label>Challenges In Marine Mammals Medication</ion-label>
    </ion-item>
  </ion-card-content>

</ion-card>

<ion-card>
  <!--<ion-card-header (click)="toggleAccordion('formulary')"> -->
    <ion-card-header>
    About Formmulary
    <button clear  (click)="toggleAccordion('formulary')">
      <!--Contraer-->
      <ion-icon name="remove" *ngIf="!visibleFormulary"></ion-icon>
      <!--Desplegar-->
      <ion-icon name="add" *ngIf="visibleFormulary"></ion-icon>
    </button>
  </ion-card-header>
  <ion-card-content #ccf >
    <ion-item >
      <ion-avatar slot="start">
        <img src="assets/img/user_guide.jpg">
      </ion-avatar>
      <ion-label>User's guide</ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/img/disclaimer.jpg">
      </ion-avatar>
      <ion-label>Disclaimer</ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/img/authors.png">
      </ion-avatar>
      <ion-label>Authorship</ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/img/support.png">
      </ion-avatar>
      <ion-label>Support</ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/img/rate.png">
      </ion-avatar>
      <ion-label>Rate The App</ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/img/bibliography.png">
      </ion-avatar>
      <ion-label>Bibliography</ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/img/druglist.png">
      </ion-avatar>
      <ion-label>Drug List</ion-label>
    </ion-item>
  </ion-card-content>

</ion-card>